<div class="registered-user-container">

  <mat-card class="election-card">
    <mat-card-header>
      <div fxFlex fxLayout fxLayoutAlign="center">
        <div fxFlex fxLayoutAlign="flex-start">
          <h1>Jornadas Electorales</h1>
        </div>
        <div fxFlex fxLayoutAlign="flex-end">
          <i class="material-icons-outlined">add_circle_outline</i><span class="action">Crear</span>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>Elecciones 2021</div>
          <div mat-line>17 de marzo de 2021</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
