<!--
  Para una descripción más detallada del pipe 'async' leer el siguiente artículo:
  5 sencillos tips and tricks cuando usas async pipe en angular
  https://wilderperozo.medium.com/5-sencillos-tips-and-tricks-cuando-usas-async-pipe-en-angular-fa4580000694
 -->
<div class="election-detail-container" *ngIf="election$ | async as election" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h1>{{ election.name }}</h1>
  <p>Esta jornada electoral se llevará a cabo el {{ election.date | date:'longDate' }}.</p>
  <a mat-button color="accent" routerLink="/ballot-create">Crear Tarjetón</a>
</div>
