<section>
  <!-- Template Driven Form -->
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Correo electrónico"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Este campo es requerido.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">El correo electrónico no es válido.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="La contraseña debe tener como mínimo 6 caracteres.">
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>La contraseña es demasiado corta.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Enviar</button>
  </form>
</section>
