<!--
  En el siguiente artículo se plantea una solución para crear un scroll utilizando el
  'cdk-virtual-scroll-viewport' del cdk de Angular Material:
  Tech: Implement Virtual Scrolling with MatList in Angular
  https://medium.datadriveninvestor.com/implement-virtual-scrolling-with-matlist-in-angular-c900dc0d489f
-->
<div class="election-list-container" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h1>Jornadas Electorales</h1>
  <!-- Selection List -->
  <mat-selection-list #elections [multiple]="false" style="margin-top: 16px;">
    <cdk-virtual-scroll-viewport [itemSize]="10" style="height: 400px; width: 400px;">
      <mat-list-option *cdkVirtualFor="let election of elections$ | async" [value]="election"
        (click)="onSelect(elections.selectedOptions.selected[0]?.value)">
        <mat-icon mat-list-icon>how_to_vote</mat-icon>
        <div mat-line>{{ election.name }}</div>
        <!--
          En el siguiente artículo existen varios formatos de fecha con DatePipe:
          Formatos de fecha con DatePipe
          https://platzi.com/tutoriales/1670-angular/1879-formatos-de-fecha-con-datepipe/
        -->
        <div mat-line>{{ election.date | date:'longDate' }}</div>
      </mat-list-option>
    </cdk-virtual-scroll-viewport>
  </mat-selection-list>
</div>
