<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a *ngIf="!isAuth" routerLink="/">
      LOGO | Democrapp
    </a>
    <a *ngIf="isAuth" routerLink="/welcome">
      LOGO | Democrapp
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Registrarse</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Ingresar</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/welcome">Inicio</a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer;" (click)="onLogout()">Salir</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
